<div id="demoShelf">
  <div class="simpleCart_shelfItem" style="left: 207px; top: 0px;">
    <div class="tooltip" style="display: none;">
      <span class="item_price">$19.99</span>
      <a href="javascript:;" class="item_add">Add to Cart</a>
    </div>
    <img src="/images/2093001297-1.jpeg" alt="Sample Product" class="item_image item_add">
    <span class="item_name">Inception</span>
  </div>
  <div class="simpleCart_shelfItem" style="left: 118px; top: 0px;">
    <div class="tooltip" style="display: block;">
      <span class="item_price">$59.99</span>
      <a href="javascript:;" class="item_add">Add to Cart</a>
    </div>
    <img src="/images/900239755-1.jpeg" alt="Sample Product" class="item_image item_add">
    <span class="item_name">NHL 12</span>
  </div>
  <div class="simpleCart_shelfItem" style="left: 296px; top: 0px;">
    <div class="tooltip">
      <span class="item_price">$9.99</span>
      <a href="javascript:;" class="item_add">Add to Cart</a>
    </div>
    <img src="/images/3837000385-1.jpeg" alt="Sample Product" class="item_image"/>
    <span class="item_name">Black Keys - Brothers</span>
  </div>
  <div class="simpleCart_shelfItem" style="left: 29px; top: 0px;">
    <div class="tooltip" style="display: none;">
      <span class="item_price">$12.99</span>
      <a href="javascript:;" class="item_add">Add to Cart</a>
    </div>
    <img src="/images/284763861-1.jpeg" alt="Sample Product" class="item_image item_add">
    <span class="item_name">Good To Great</span>
  </div>
</div>
<p>This is the merch view.</p>
